@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@614&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');

#separa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  
  margin-top: 0px;
  height: 50px;
  width: 100%;
  background-color: rgba(247, 247, 247, 0.927);
  animation: fadeIn 2s;
}

#saibamais{
  /* background-color: rgb(32, 172, 172); */
  background-color: #76BFE2;
  animation: fadeIn 2s;
  
}
.fotos-paginas{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
 
}
.butonsepara{
  background-color: #76BFE2;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(94, 93, 93, 0.3) 0px 18px 36px -18px inset;
  
  color: black;
  
  width: 48vw;
  height: 5vh;
  animation: fadeIn 2.5;
  
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;
  height: 2.7rem;
  width: 100vw;
  background-color: #3faadb;
  padding-right: 10px;
  border: solid 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#imgg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64vh;
  
  width: 100%;
  margin: auto;
  background-color: rgb(195, 195, 195);
  background-image: url(imagens/fundologo.png);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-size: 100%;
  font-size: 16px;
  animation: fadeIn 2s ;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
 }
 100%{
    opacity: 5;
 }
}

@keyframes rodar {

  to {
    transform: rotate(360deg);
  }
}

#containerlogo {
  height: 250px;
  width: 250px;

  /* background-color: black; */

}

#logo {
  width: 50vw;
  

  border-radius: 75%;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(24, 24, 24, 0.3) 0px 19px 38px, rgba(32, 31, 31, 0.22) 0px 15px 12px;
  animation: fadeIn 2.3s ;


}

#logo:hover {


  width: 50vw;

  border-radius: 75%;
  animation: rodar 3s alternate-reverse;

}



.detail {
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: solid rgb(111, 122, 190);
  padding: 3px;
  height:5vh;
  max-width: 70vw;
  border-radius: 10px;
 
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.detail:hover {
  transition: 0.2s;
  padding: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: solid rgba(230, 229, 206, 0.57);
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.contatos {
  height: 30px;
  width: 30px;
}


#containertextimg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  

  /* height: 55%;
    width: 35%;
    background-color: white;
    margin-left: 15rem; */
  height: 450px;
  width: 350px;
  display: inline-flex;
  border: solid 0px;

  /* justify-content: flex-end; */
  /* align-items: flex-start; */
  gap: 20px;

}

.logoText {
  transition: 0.5s;
  font-family: "Tauri", sans-serif;
  font-weight: 600;
  font-style: normal;
}


body::-webkit-scrollbar-track {
  background: rgb(0, 166, 255);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 2);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(0, 149, 255);
  /* creates padding around scroll thumb */
}

#grid {
 
  padding-top: 5vh;
  display: grid;

  justify-items: center;
  gap: 1px;
  grid-template-columns: repeat(2, 1fr)
}




footer {
  display: flex;
  
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: white;
  margin-top: 60px;
}
@media only screen and (min-width: 480px) {
  #logo {
    width: 30vw;
    
  
    border-radius: 75%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(24, 24, 24, 0.3) 0px 19px 38px, rgba(32, 31, 31, 0.22) 0px 15px 12px;
    animation: fadeIn 2.3s ;
  
  
  }
  
  #logo:hover {
  
  
    width: 30vw;
  
    border-radius: 75%;
    animation: rodar 3s alternate-reverse;
  
  }
  .detail{
    display: none;
  }
  #containertextimg{
    
  }
  

}
@media only screen and (max-width: 820 ){
  #imgg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 23vh;
    
    width: 100%;
    margin: auto;
    background-color: rgb(195, 195, 195);
    background-image: url(imagens/fundologo.png);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-size: 100%;
    font-size: 16px;
    animation: fadeIn 2s ;
  }
}
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
/* @media only screen and (max-width: 377px) {
  #grid {
    display: grid;

    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr)
  }

  .card {
    height: 150px;
    width: 190px;
    background-color: blue;

    border-radius: 4px;
  }

  .card:hover {
    height: 50px;
    width: 90px;
    background-color: blue;
    border: solid;
    border-radius: 4px;
    transition: 0.2s;
  }
} */