


#cont{
   
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    height: 70vh;
    width: 70vw;
    background-color:rgb(255, 255, 255) ;
}

.historico{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 10vw;
   
    height: 17vh;
    
   margin-bottom: 10px;
}
.historico2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10vw;
   
    height: 17vh;
    
   margin-bottom: 10px;
}

.imagemhistorico{
    width: 20vw;
    height: 10vh;
}