


#containernomes{
    display: flex;
    margin-top: 3vh;
    flex-direction: row;
    
   
    gap: 40px;
    padding: 10px;

    height: 42vh;
    min-width: 680vw;
    padding: 20px; 
    background-color: rgb(255, 255, 255);


    
}
.nomes{
    background-color: blueviolet;
    display: flex;
    height: 20vh;
    
    width: 60vw;
    

}
.nomes > img{

   
    height:10%;
    
}